Repository h2oai/datatable, pull requests merged in 2018-07, with the labels that each got.

#1140 Fread cleanup
  c/csv/fread.cc
  c/csv/reader.cc
  c/csv/reader.h
  c/csv/reader_fread.cc
  c/csv/reader_utils.cc
  tests/test_dt.py
Labels: fread, refactor

#1141 [BUILD] Changes in Jenkinsfile
  Makefile
  ci/Jenkinsfile2
Labels: ITA

#1129 [BUILD] Add build summary.
  Makefile
  ci/Jenkinsfile2
Labels: ITA, improve

#1160 Stype/Ltype refactoring
  c/column.cc
  c/column_bool.cc
  c/column_from_pylist.cc
  c/column_fw.cc
  c/column_int.cc
  c/column_pyobj.cc
  c/column_real.cc
  c/column_string.cc
  c/csv/reader_parsers.cc
  c/csv/reader_utils.cc
  c/csv/writer.cc
  c/datatable_load.cc
  c/expr/binaryop.cc
  c/expr/reduceop.cc
  c/expr/unaryop.cc
  c/jay/save_jay.cc
  c/py_buffers.cc
  c/py_column.cc
  c/py_datatable.cc
  c/py_datawindow.cc
  c/py_types.cc
  c/py_types.h
  c/rowindex_array.cc
  c/sort.cc
  c/types.cc
  c/types.h
  c/utils/exceptions.cc
  datatable/widget.py
  tests/fread/test_fread_small.py
  tests/test_types.py
Labels: refactor

#1166 Code reorganization for GenericReader
  Makefile
  c/csv/fread.cc
  c/csv/fread.h
  c/csv/reader.cc
  c/csv/reader.h
  c/csv/reader_arff.h
  c/csv/reader_fread.cc
  c/csv/reader_fread.h
  c/csv/reader_parsers.h
  c/csv/reader_utils.cc
  c/read/column.cc
  c/read/column.h
  c/read/columns.cc
  c/read/columns.h
  c/read/field64.h
  c/read/parallel_reader.cc
  c/read/parallel_reader.h
  c/read/thread_context.cc
  c/read/thread_context.h
  c/utils/assert.h
  tests/fread/test_fread_small.py
Labels: fread, refactor

#1180 Better organize fread code
  Makefile
  c/csv/fread.cc
  c/csv/reader_fread.cc
  c/csv/reader_fread.h
  c/read/fread/fread_parallel_reader.cc
  c/read/fread/fread_parallel_reader.h
  c/read/fread/fread_thread_context.cc
  c/read/fread/fread_thread_context.h
  tests/fread/test_fread_api.py
Labels: fread, refactor

#1191 Few more fread tests
  tests/fread/test_fread_api.py
  tests/fread/test_fread_small.py
Labels: fread, test

#1199 Tweak fread chunking strategy to better handle wide datasets
  c/csv/reader_fread.cc
  c/read/parallel_reader.cc
  tests/test_groups.py
Labels: fread, improve

#1210 [BUILD] Set LD_LIBRARY_PATH for CentOS 7 image.
  Makefile
  ci/Dockerfile-centos7.in
  ci/Jenkinsfile2
  tests/fread/test_fread_small.py
Labels: High, ITA, bug

#1211 Print out various platform information during testing
  tests/conftest.py
  tests/fread/test_fread_small.py
  tests/test_dt.py
Labels: ITA, test
