Repository h2oai/datatable, pull requests merged in 2018-04, with the labels that each got.

#910 Consolidate all type information in the ParsersLibrary class
  Makefile
  c/csv/chunks.h
  c/csv/fread.cc
  c/csv/fread.h
  c/csv/freadLookups.h
  c/csv/reader.h
  c/csv/reader_fread.cc
  c/csv/reader_fread.h
  c/csv/reader_parsers.cc
  c/csv/reader_parsers.h
  c/csv/reader_utils.cc
  datatable/fread.py
  tests/fread/test_fread_large.py
  tests/fread/test_fread_small.py
Labels: fread :notebook:, refactor :recycle:

#912 FreadReader now inherits from GenericReader class
  CHANGELOG.md
  c/csv/chunks.cc
  c/csv/fread.cc
  c/csv/fread.h
  c/csv/reader.cc
  c/csv/reader.h
  c/csv/reader_fread.cc
  c/csv/reader_fread.h
  c/csv/reader_parsers.cc
  datatable/fread.py
  tests/fread/test_fread_api.py
Labels: fread :notebook:, refactor :recycle:

#913 Convert all assert() statements into exception throws
  CHANGELOG.md
  Makefile
  c/column.cc
  c/column_fw.cc
  c/column_pyobj.cc
  c/column_string.cc
  c/csv/chunks.cc
  c/csv/chunks.h
  c/csv/fread.cc
  c/csv/reader_fread.cc
  c/csv/reader_fread.h
  c/csv/reader_parsers.cc
  c/csv/reader_utils.cc
  c/datatable_cbind.cc
  c/datatable_load.cc
  c/datatable_rbind.cc
  c/datatablemodule.c
  c/memorybuf.cc
  c/py_buffers.cc
  c/py_encodings.c
  c/py_utils.c
  c/rowindex.cc
  c/rowindex_array.cc
  c/rowindex_slice.cc
  c/sort.cc
  c/sort_groups.cc
  c/types.c
  c/utils.h
  c/utils/assert.h
  c/utils/exceptions.cc
  c/utils/exceptions.h
  c/writebuf.cc
  setup.py
  tests/fread/test_fread_large.py
Labels: refactor :recycle:

#914 Cleanup of FreadChunkedReader
  c/csv/chunks.cc
  c/csv/chunks.h
  c/csv/fread.cc
  c/csv/reader.h
  c/csv/reader_fread.cc
  c/csv/reader_fread.h
  tests/fread/test_fread_small.py
Labels: fread :notebook:, refactor :recycle:

#917 FreadObserver class
  c/csv/chunks.cc
  c/csv/fread.cc
  c/csv/reader_fread.cc
  c/csv/reader_fread.h
  c/utils.c
  c/utils.h
  c/utils/exceptions.cc
  c/utils/exceptions.h
  tests/fread/test_fread_issues.py
  tests/fread/test_fread_small.py
Labels: fread :notebook:, improve :+1:, refactor :recycle:

#930 Clean-up of ChunkedDataReader
  c/csv/chunks.cc
  c/csv/fread.cc
  c/csv/reader.h
  c/csv/reader_fread.cc
  c/csv/reader_fread.h
  c/utils/exceptions.cc
  c/utils/exceptions.h
  tests/fread/test_fread_small.py
Labels: fread, performance :racehorse:, refactor :recycle:

#933 [BUILD] Travis ci
  .travis.yml
Labels: ITA :it:

#936 Fread column types detection logic improvements
  Makefile
  c/csv/chunks.cc
  c/csv/fread.cc
  c/csv/fread.h
  c/csv/reader.h
  c/csv/reader_fread.cc
  c/csv/reader_fread.h
  c/csv/reader_parsers.cc
  c/csv/reader_parsers.h
  c/csv/reader_utils.cc
  datatable/fread.py
  tests/fread/test_fread_api.py
  tests/fread/test_fread_issues.py
  tests/fread/test_fread_large.py
Labels: fread, refactor :recycle:

#960 Add more tests for sorting / statting str64 columns
  tests/test_dt_sort.py
  tests/test_dt_stats.py
Labels: test :microscope:

#986 Update documentation for cbind / rbind methods
  datatable/dt_append.py
  datatable/frame.py
Labels: documentation :books:
