Repository h2oai/datatable, pull requests merged in 2019-10, with the labels that each got.

#2047 Dockerfile ppcle numpy fix
  ci/Dockerfile-centos7.in
  ci/Jenkinsfile.groovy
Labels: ITA

#2057 Column class now uses ref-count semantics for its impl
  c/column.cc
  c/column.h
  c/column/column_impl.cc
  c/column/column_impl.h
  c/datatable.cc
  c/frame/integrity_check.cc
  c/frame/rbind.cc
  c/stats.cc
  c/stats.h
Labels: refactor

#2059 Add numpy tests to random attacker
  tests/random_attack.py
Labels: test

#2061 Minor dt::Ftrl refactoring
  c/models/dt_ftrl.cc
  c/models/dt_ftrl.h
Labels: improve

#2060 Cleanup of DataTable class
  c/api.cc
  c/datatable.cc
  c/datatable.h
  c/datatablemodule.cc
  c/expr/collist.cc
  c/expr/eval_context.cc
  c/expr/eval_context.h
  c/expr/expr_column.cc
  c/expr/expr_unaryop.cc
  c/expr/head_frame.cc
  c/expr/head_list.cc
  c/expr/head_literal_int.cc
  c/expr/head_literal_none.cc
  c/expr/head_literal_sliceall.cc
  c/expr/head_literal_sliceint.cc
  c/expr/head_literal_slicestr.cc
  c/expr/head_literal_type.cc
  c/expr/i_node.cc
  c/expr/j_node.cc
  c/expr/join_node.cc
  c/expr/repl_node.cc
  c/expr/workframe.cc
  c/frame/__getitem__.cc
  c/frame/__init__.cc
  c/frame/__iter__.cc
  c/frame/__repr__.cc
  c/frame/__sizeof__.cc
  c/frame/cbind.cc
  c/frame/integrity_check.cc
  c/frame/join.cc
  c/frame/key.cc
  c/frame/names.cc
  c/frame/py_frame.cc
  c/frame/py_frame.h
  c/frame/rbind.cc
  c/frame/repeat.cc
  c/frame/replace.cc
  c/frame/stats.cc
  c/frame/to_numpy.cc
  c/frame/to_python.cc
  c/jay/save_jay.cc
  c/models/aggregator.cc
  c/models/aggregator.h
  c/models/dt_ftrl.cc
  c/models/dt_ftrl.h
  c/models/dt_ftrl_base.h
  c/models/kfold.cc
  c/models/py_ftrl.cc
  c/py_buffers.cc
  c/set_funcs.cc
  c/sort.cc
  c/str/py_str.cc
  c/write/csv_writer.cc
  c/write/write_manager.cc
Labels: refactor

#2065 Expr class now supports evaluation of i node too
  c/expr/declarations.h
  c/expr/eval_context.cc
  c/expr/eval_context.h
  c/expr/expr.cc
  c/expr/expr.h
  c/expr/head.h
  c/expr/head_frame.cc
  c/expr/head_frame.h
  c/expr/head_func.cc
  c/expr/head_func.h
  c/expr/head_list.cc
  c/expr/head_list.h
  c/expr/head_literal.cc
  c/expr/head_literal.h
  c/expr/head_literal_bool.cc
  c/expr/head_literal_float.cc
  c/expr/head_literal_int.cc
  c/expr/head_literal_none.cc
  c/expr/head_literal_range.cc
  c/expr/head_literal_sliceall.cc
  c/expr/head_literal_sliceint.cc
  c/expr/head_literal_slicestr.cc
  c/expr/head_literal_string.cc
  c/expr/head_literal_type.cc
  c/expr/head_reduce_unary.cc
  c/expr/i_node.cc
  c/expr/i_node.h
  c/frame/__getitem__.cc
  c/python/slice.cc
  c/rowindex.cc
  c/rowindex.h
  c/sort.cc
  c/utils/array.h
  tests/munging/test_dt_rows.py
Labels: DT[i，j，...]

#2067 Range column improvements
  c/column/range.cc
  c/column/range.h
  c/column_from_pylist.cc
  c/expr/head_literal_sliceint.cc
  tests/random_attack.py
Labels: improve

#2066 Close all files opened with open() in python
  datatable/fread.py
  docs/conf.py
  tests/fread/test_fread_large.py
  tests/random_attack.py
  tests/test_dt_sort.py
  tests/test_tocsv.py
Labels: test

#2068 Do multicolumn sorting to random attacker
  tests/random_attack.py
Labels: test

#2064 Minor cleaning of FTRL and Aggregator
  c/models/aggregator.cc
  c/models/dt_ftrl.cc
  c/models/dt_ftrl.h
  c/models/utils.h
Labels: improve, refactor

#2058 debug pandas install with py36 Dockerfile
  ci/Dockerfile-centos7.in
  ci/Jenkinsfile-build-docker-images.groovy
  ci/Jenkinsfile.groovy
Labels: ITA

#2072 Fix missing import in setup_utils.py
  ci/setup_utils.py
Labels: ITA

#2071 Do not overwrite builtins with 'from datatable import *'
  datatable/__init__.py
  docs/changelog/v-0-10-0.rst
  tests/test-import-all.py
Labels: API change

#2073 Adjust NA handling in FTRL
  c/column.cc
  c/frame/__repr__.cc
  c/models/column_hasher.cc
  c/models/column_hasher.h
  c/models/dt_ftrl.cc
  tests/random_driver.py
Labels: bug, improve, test

#2077 Fread partial refactoring
  c/csv/py_csv.cc
  c/csv/reader.cc
  c/csv/reader.h
  c/csv/reader_arff.cc
  c/csv/reader_fread.cc
  c/datatablemodule.cc
  c/datatablemodule.h
  c/frame/__init__.cc
  c/frame/py_frame.h
  c/python/arg.cc
  c/python/arg.h
  c/python/args.cc
  c/python/args.h
  c/python/list.cc
  c/python/list.h
  c/python/obj.cc
  c/python/xobject.h
  c/read/columns.cc
  c/read/columns.h
  c/read/py_read.cc
  c/read/py_read_iterator.h
  c/read/read_source.cc
  c/read/read_source.h
  datatable/fread.py
  tests/fread/test_fread_api.py
  tests/test_tocsv.py
Labels: fread, refactor

#2076 Add a function to set key columns to random attacker
  c/column.cc
  tests/random_attack.py
  tests/random_driver.py
  tests/test_dt.py
Labels: test

#2082 Fix grouping of an empty frame
  c/expr/by_node.cc
  c/expr/eval_context.cc
  c/expr/expr_reduce.cc
  c/groupby.cc
  c/groupby.h
  docs/changelog/v-0-10-0.rst
  setup.cfg
  tests/test-groups.py
Labels: groupby

#2084 Implement creation of Frames from numpy scalars
  c/column_from_pylist.cc
  c/frame/__init__.cc
  c/python/obj.cc
  c/python/obj.h
  docs/changelog/v-0-10-0.rst
  tests/test_dt_create.py
Labels: new feature

#2093 Add join operation to random attacker
  c/frame/rbind.cc
  tests/munging/test_rbind.py
  tests/random_attack.py
Labels: test

#2099 Add shallow copy operation to random attacker
  tests/random_attack.py
Labels: test

#2103 Move tests related to Frame repr into a separate file
  tests/frame/test-repr-html.py
  tests/frame/test-repr-text.py
  tests/test_dt.py
Labels: test

#2104 Write version in canonical form
  datatable/__version__.py
Labels: ITA

#2111 Do not allow particular operations on keyed frames
  c/datatable.cc
  c/frame/rbind.cc
  c/frame/replace.cc
  c/models/dt_ftrl.cc
  tests/munging/test_delete.py
  tests/munging/test_rbind.py
  tests/munging/test_replace.py
  tests/random_attack.py
  tests/test_dt.py
  tests/test_keys.py
Labels: improve, test

#2126 Fix dt.math.isfinite() and dt.math.isna() segfaults
  c/expr/expr_unaryop.cc
  datatable/expr/math.py
  tests/ijby/test-func-unary.py
Labels: improve, segfault, test

#2127 Convert python integers into int32/int64 only during frame creation
  c/column_from_pylist.cc
  docs/changelog/v-0-10-0.rst
  tests/ijby/test-func-unary.py
  tests/munging/test_assign.py
  tests/munging/test_cbind.py
  tests/munging/test_delete.py
  tests/munging/test_dt_combo.py
  tests/munging/test_dt_rows.py
  tests/munging/test_rbind.py
  tests/test-groups.py
  tests/test_dt.py
  tests/test_dt_create.py
  tests/test_dt_sort.py
  tests/test_jay.py
  tests/test_join.py
  tests/test_keys.py
  tests/test_tocsv.py
Labels: API change

#2131 Auto-detect terminal's encoding
  c/frame/repr/repr_options.cc
  c/progress/progress_bar.cc
  c/utils/terminal.cc
  c/utils/terminal.h
  tests/frame/test-repr-text.py
  tests/test_parallel.py
Labels: bug

#2132 Improve stylesheet injection into a Jupyter notebook
  c/datatablemodule.cc
  c/datatablemodule.h
  c/frame/__repr__.cc
  c/frame/repr/html_styles.cc
  c/frame/repr/html_widget.h
  datatable/__init__.py
  docs/changelog/v-0-10-0.rst
Labels: improve

#2135 Throw an exception when changing values in a key column
  c/expr/repl_node.cc
  tests/munging/test_assign.py
  tests/random_attack.py
Labels: bug, test

#2133 Improve key handling for single column selectors
  c/datatable.cc
  docs/changelog/v-0-10-0.rst
  tests/test_keys.py
Labels: improve, test
