Repository h2oai/datatable, pull requests merged in 2019-09, with the labels that each got.

#1991 __version__ changed to 0.10.0a
  ci/setup_utils.py
  datatable/__version__.py
Labels: ITA

#1996 Add tests for mode() on an empty frame
  tests/test_dt_stats.py
Labels: test

#2015 Add library name in locate command failure
  ci/setup_utils.py
Labels: ITA

#2018 Remove ColumnImpl::rowindex()
  c/api.cc
  c/column.cc
  c/column.h
  c/column/const.cc
  c/column/nafilled.cc
  c/column/nafilled.h
  c/column/view.cc
  c/column/virtual.h
  c/column_fw.cc
  c/column_impl.cc
  c/column_impl.h
  c/column_pyobj.cc
  c/column_string.cc
  c/datatable.cc
  c/datatable.h
  c/datatablemodule.cc
  c/expr/eval_context.cc
  c/expr/expr_column.cc
  c/expr/expr_reduce.cc
  c/expr/head_reduce_unary.cc
  c/expr/repl_node.cc
  c/expr/workframe.cc
  c/frame/cast.cc
  c/frame/cbind.cc
  c/frame/integrity_check.cc
  c/frame/key.cc
  c/frame/repeat.cc
  c/models/column_convertor.h
  c/models/dt_ftrl.cc
  c/set_funcs.cc
  c/sort.cc
  datatable/include/datatable.h
  datatable/internal.py
  docs/changelog/v-0-10-0.rst
  tests/__init__.py
  tests/models/test_aggregate.py
  tests/munging/test_cast.py
  tests/munging/test_cbind.py
  tests/munging/test_dt_combo.py
  tests/munging/test_dt_rows.py
  tests/test_dt.py
  tests/test_reduce.py
Labels: refactor

#2031 Fix rbinding of string columns after they were resized
  c/column_impl.h
  tests/munging/test_rbind.py
  tests/random_attack.py
Labels: test

#1985 Progress fix
  c/csv/fread.cc
  c/csv/reader.cc
  c/models/aggregator.cc
  c/models/dt_ftrl.cc
  c/models/dt_ftrl_base.cc
  c/models/dt_ftrl_base.h
  c/parallel/api.h
  c/parallel/api_primitives.h
  c/parallel/monitor_thread.cc
  c/parallel/monitor_thread.h
  c/parallel/parallel_for_dynamic.cc
  c/parallel/parallel_for_ordered.cc
  c/parallel/parallel_for_static.h
  c/parallel/string_utils.cc
  c/parallel/string_utils.h
  c/parallel/thread_pool.cc
  c/parallel/thread_pool.h
  c/parallel/thread_worker.cc
  c/parallel/thread_worker.h
  c/parallel/ztest_parallel_for.cc
  c/progress/progress_bar.cc
  c/progress/progress_bar.h
  c/progress/progress_manager.cc
  c/progress/progress_manager.h
  c/progress/work.cc
  c/progress/work.h
  c/progress/ztest_progress.cc
  c/read/parallel_reader.cc
  c/sort.cc
  c/utils/exceptions.cc
  c/ztest.cc
  c/ztest.h
  tests/fread/test_fread_large.py
  tests/test_dt.py
  tests/test_parallel.py
Labels: bug, improve, test

#2034 Fix broken aggregator tests
  tests/models/test_aggregate.py
Labels: test

#2035 Removed RowIndex field from base ColumnImpl
  c/api.cc
  c/column.cc
  c/column.h
  c/column/view.cc
  c/column/view.h
  c/column_bool.cc
  c/column_fw.cc
  c/column_impl.cc
  c/column_impl.h
  c/column_int.cc
  c/column_pyobj.cc
  c/column_string.cc
  c/datatable.cc
  c/datatablemodule.cc
  c/expr/eval_context.cc
  c/expr/expr_column.cc
  c/expr/expr_reduce.cc
  c/expr/head_reduce_unary.cc
  c/expr/workframe.cc
  c/frame/__sizeof__.cc
  c/frame/integrity_check.cc
  c/frame/key.cc
  c/frame/repeat.cc
  c/models/label_encode.h
  c/py_rowindex.cc
  c/py_rowindex.h
  c/python/obj.cc
  c/rowindex.h
  c/sort.cc
  datatable/internal.py
Labels: refactor

#2033 Added 2 new methods to random attacker
  tests/random_attack.py
Labels: test

#2040 memrange.h renamed into buffer.h
  c/buffer.cc
  c/buffer.h
  c/column_impl.h
  c/csv/reader.h
  c/frame/stats.cc
  c/groupby.h
  c/read/column.h
  c/rowindex_array.cc
  c/utils/array.h
  c/writebuf.cc
  c/wstringcol.h
Labels: refactor

#2041 Buffer refactoring
  c/buffer.cc
  c/buffer.h
  c/column.cc
  c/column.h
  c/column_bool.cc
  c/column_from_pylist.cc
  c/column_fw.cc
  c/column_impl.h
  c/column_pyobj.cc
  c/column_string.cc
  c/csv/reader.cc
  c/csv/reader.h
  c/datatable.h
  c/expr/expr_reduce.cc
  c/expr/expr_unaryop.cc
  c/expr/i_node.cc
  c/expr/repl_node.cc
  c/frame/__init__.cc
  c/frame/cast.cc
  c/groupby.cc
  c/groupby.h
  c/jay/open_jay.cc
  c/jay/save_jay.cc
  c/parallel/string_utils.cc
  c/parallel/string_utils.h
  c/py_buffers.cc
  c/read/column.cc
  c/read/column.h
  c/rowindex.cc
  c/rowindex.h
  c/rowindex_array.cc
  c/sort.cc
  c/stats.cc
  c/utils/alloc.cc
  c/utils/array.h
  c/utils/assert.h
  c/writebuf.cc
  c/writebuf.h
  c/wstringcol.cc
  c/wstringcol.h
Labels: refactor

#2038 Improve parallel progress tests
  c/progress/ztest_progress.cc
  tests/test_parallel.py
Labels: test

#2046 Column refactoring
  c/api.cc
  c/buffer.cc
  c/buffer.h
  c/column.cc
  c/column.h
  c/column/const.cc
  c/column/const.h
  c/column/view.cc
  c/column/view.h
  c/column_fw.cc
  c/column_impl.h
  c/column_string.cc
  c/datatable.h
  c/datatablemodule.cc
  c/expr/eval_context.cc
  c/expr/expr_binaryop.cc
  c/expr/expr_reduce.cc
  c/expr/expr_str.cc
  c/expr/expr_unaryop.cc
  c/expr/head_func_other.cc
  c/expr/head_reduce_nullary.cc
  c/expr/repl_node.cc
  c/frame/__init__.cc
  c/frame/__sizeof__.cc
  c/frame/cast.cc
  c/frame/rbind.cc
  c/frame/repeat.cc
  c/frame/replace.cc
  c/frame/to_numpy.cc
  c/models/aggregator.cc
  c/models/dt_ftrl.cc
  c/models/kfold.cc
  c/models/label_encode.cc
  c/models/label_encode.h
  c/py_buffers.cc
  c/sort.cc
  c/str/split_into_nhot.cc
Labels: improve, refactor

#2045 Add a sort method to random attacker
  tests/random_attack.py
  tests/random_driver.py
  tests/test_dt.py
Labels: test
