Repository h2oai/datatable, pull requests merged in 2020-04, with the labels that each got.

#2390 Add explicit end-of-file checks to fread
  ci/Jenkinsfile.groovy
  src/core/buffer.cc
  src/core/buffer.h
  src/core/csv/reader.cc
  src/core/csv/reader_fread.cc
  src/core/csv/reader_parsers.cc
  src/core/read/fread/fread_thread_context.cc
  src/core/read/fread/fread_tokenizer.cc
  tests/fread/test_fread_large.py
  tests/fread/test_xls.py
Labels: ITA, fread, test

#2398 Fix 2D mixed aggregation
  src/core/models/aggregator.cc
  src/core/models/aggregator.h
  tests/models/test_aggregate.py
Labels: bug, test

#2399 Fix misc tests on Windows
  src/datatable/utils/fread.py
  tests/conftest.py
  tests/fread/test_fread_api.py
  tests/models/test_aggregate.py
  tests/test_jay.py
  tests/test_tocsv.py
Labels: fread, test

#2401 Fix type bump message generation
  src/core/csv/fread.cc
  src/core/csv/reader_fread.cc
  src/datatable/utils/fread.py
  tests/fread/test_fread_large.py
  tests/fread/test_xls.py
Labels: bug, fread, test

#2402 Cleanup & refactoring of dt::read::Column/Columns classes
  src/core/_dt.h
  src/core/column.h
  src/core/csv/fread.cc
  src/core/csv/reader.cc
  src/core/csv/reader.h
  src/core/csv/reader_arff.h
  src/core/csv/reader_fread.cc
  src/core/csv/reader_fread.h
  src/core/csv/reader_parsers.cc
  src/core/csv/reader_parsers.h
  src/core/jay/save_jay.cc
  src/core/read/column.cc
  src/core/read/column.h
  src/core/read/columns.cc
  src/core/read/columns.h
  src/core/read/fread/fread_parallel_reader.cc
  src/core/read/fread/fread_parallel_reader.h
  src/core/read/fread/fread_thread_context.cc
  src/core/read/fread/fread_thread_context.h
  src/core/read/parallel_reader.cc
  src/core/read/precolumn.cc
  src/core/read/precolumn.h
  src/core/read/preframe.cc
  src/core/read/preframe.h
Labels: fread, refactor

#2408 Use platform specific tolerance in certain fread tests
  appveyor.yml
  ci/Jenkinsfile.groovy
  tests/__init__.py
  tests/conftest.py
  tests/fread/test_fread_issues.py
  tests/fread/test_fread_small.py
  tests/test_tocsv.py
Labels: ITA, test

#2409 Fix numpy tests on Windows
  appveyor.yml
  tests/frame/test-create.py
  tests/ijby/test-assign-frame.py
  tests/ijby/test-sort.py
  tests/random_attack.py
  tests/test_dt_stats.py
Labels: ITA, test

#2412 Disable freading from file-like objects on Windows
  src/core/csv/reader.cc
  tests/fread/test_fread_api.py
Labels: fread, test
