Repository h2oai/datatable, pull requests merged in 2020-03, with the labels that each got.

#2375 Allow dividing a python list by an stype
  docs/releases/v0.11.0.rst
  src/core/frame/__init__.cc
  src/datatable/types.py
  tests/frame/test-create.py
Labels: low priority, new feature

#2381 Implement the BOM mark for .to_csv()
  docs/releases/v0.11.0.rst
  src/core/frame/to_csv.cc
  src/core/python/args.cc
  src/core/utils/file.cc
  src/core/utils/file.h
  src/core/write/csv_writer.cc
  src/core/write/output_options.h
  src/core/write/write_manager.cc
  src/core/write/write_manager.h
  tests/test_tocsv.py
Labels: improve

#2385 Fix rbind crashing on Python strings
  src/core/frame/rbind.cc
  tests/munging/test_rbind.py
Labels: segfault, test

#2389 Reduce too many levels of indirection in fread
  src/core/csv/py_csv.cc
  src/core/csv/reader.cc
  src/core/csv/reader.h
  src/core/frame/to_csv.cc
  src/core/python/arg.h
  src/core/python/tuple.cc
  src/core/read/py_read.cc
  src/datatable/__init__.py
  src/datatable/fread.py
  src/datatable/utils/fread.py
  tests/fread/test_fread_api.py
  tests/test_utils_misc.py
Labels: fread, refactor

#2391 Unify "source" interface for fread
  src/core/csv/py_csv.cc
  src/core/csv/reader.cc
  src/core/csv/reader.h
  src/core/csv/reader_arff.cc
  src/core/csv/reader_arff.h
  src/core/csv/reader_fread.cc
  src/core/csv/reader_fread.h
  src/core/datatablemodule.cc
  src/core/datatablemodule.h
  src/core/read/column.h
  src/core/read/multisource.cc
  src/core/read/multisource.h
  src/core/read/parallel_reader.h
  src/core/read/py_fread.cc
  src/core/read/py_read.cc
  src/core/read/read_source.h
  src/core/read/source.cc
  src/core/read/source.h
  src/datatable/exceptions.py
  src/datatable/utils/fread.py
  tests/fread/test_fread_api.py
Labels: fread, refactor

#2393 Frame.source
  docs/api/frame.rst
  docs/api/frame/source.rst
  docs/releases/v0.11.0.rst
  src/core/csv/reader.cc
  src/core/csv/reader.h
  src/core/frame/__getitem__.cc
  src/core/frame/__init__.cc
  src/core/frame/py_frame.cc
  src/core/frame/py_frame.h
  src/core/frame/replace.cc
  src/core/jay/open_jay.cc
  src/core/python/obj.cc
  src/core/python/obj.h
  src/core/read/multisource.cc
  src/core/read/source.h
  src/datatable/utils/fread.py
  src/datatable/xls.py
  tests/frame/test-copy.py
  tests/fread/test_fread_api.py
  tests/fread/test_fread_issues.py
  tests/fread/test_xls.py
  tests/ijby/test-assign.py
  tests/munging/test_replace.py
  tests/test_jay.py
Labels: new feature
