Repository h2oai/datatable, pull requests merged in 2021-11, with the labels that each got.

#3181 Sort columns using all booleans in the reverse list
  docs/api/dt/sort.rst
  docs/releases/v1.1.0.rst
  src/core/expr/eval_context.cc
  src/core/expr/eval_context.h
  src/core/expr/fexpr_list.cc
  src/core/expr/py_sort.cc
  src/core/expr/py_sort.h
  tests/ijby/test-sort.py
Labels: bug, sort

#3198 Fix `.stype.dtype` for temporal types
  src/datatable/types.py
Labels: bug

#3206 Fix `.stype.dtype` when called on categorical and array types
  src/datatable/types.py
  tests/frame/test-to-numpy.py
Labels: improve, test
