Repository h2oai/datatable, pull requests merged in 2021-08, with the labels that each got.

#3129 Fix `dt.sum()` when applied to the same column as `dt.by()`
  docs/releases/v1.1.0.rst
  src/core/expr/head_reduce_unary.cc
  tests/test-groups.py
Labels: groupby, segfault, test

#3130 Refactor random testing framework
  tests_random/attacker.py
  tests_random/continuous.py
  tests_random/metaframe.py
  tests_random/methods/__init__.py
  tests_random/methods/add_numpy_column.py
  tests_random/methods/add_range_column.py
  tests_random/methods/cbind_self.py
  tests_random/methods/change_nrows.py
  tests_random/methods/delete_columns_array.py
  tests_random/methods/delete_rows_array.py
  tests_random/methods/join_self.py
  tests_random/methods/rbind_self.py
  tests_random/methods/replace_nas_in_column.py
  tests_random/methods/select_rows_array.py
  tests_random/methods/select_rows_with_boolean_column.py
  tests_random/methods/set_key_columns.py
  tests_random/methods/shallow_copy.py
  tests_random/methods/slice_columns.py
  tests_random/methods/slice_rows.py
  tests_random/methods/sort_columns.py
  tests_random/single.py
  tests_random/utils.py
Labels: test, refactor

#3131 Create arr32 column from a python list
  src/core/column/const.h
  src/core/column/const_na.cc
  src/core/column/ifelse.cc
  src/core/column/ifelse.h
  src/core/column/ifelsen.cc
  src/core/column/ifelsen.h
  src/core/column/latent.cc
  src/core/column/latent.h
  src/core/column/nafilled.cc
  src/core/column/nafilled.h
  src/core/column/npmasked.cc
  src/core/column/npmasked.h
  src/core/column/rbound.cc
  src/core/column/rbound.h
  src/core/column/repeated.cc
  src/core/column/repeated.h
  src/core/column/shift.h
  src/core/column/truncated.cc
  src/core/column/truncated.h
  src/core/column/view.cc
  src/core/column/view.h
  src/core/column_from_python.cc
  src/core/python/list.cc
  src/core/python/list.h
  src/core/types/typeimpl.cc
  tests/types/test-array.py
Labels: new feature

#3133 Update documentation about contributing documentation
  docs/develop/contrib.rst
  docs/develop/documentation.rst
Labels: documentation

#3135 Fix stack overflow when sorting strings with very long identical prefixes
  docs/releases/v1.1.0.rst
  src/core/sort.cc
  tests/ijby/test-sort.py
Labels: sort

#3137 Arr32 column can now be displayed in a terminal
  src/core/frame/repr/text_column.cc
  src/core/frame/repr/text_column.h
  tests/types/test-array.py
Labels: improve

#3143 Fix a crash when `.ltypes` or `.stypes` were accessed for frames with array columns
  src/core/ltype.cc
  src/core/ltype.h
  src/core/stype.cc
  src/datatable/types.py
  tests/munging/test-dt-cols.py
  tests/test-dt.py
  tests/test-f.py
  tests/types/test-array.py
  tests/types/test-type.py
Labels: test, segfault

#3144 Read/write arr32/64 columns from Jay
  src/core/_dt.h
  src/core/column.cc
  src/core/column.h
  src/core/column/arrow.h
  src/core/column/arrow_array.cc
  src/core/column/arrow_array.h
  src/core/column/arrow_bool.cc
  src/core/column/arrow_bool.h
  src/core/column/arrow_fw.cc
  src/core/column/arrow_fw.h
  src/core/column/arrow_str.cc
  src/core/column/arrow_str.h
  src/core/column/arrow_void.cc
  src/core/column/arrow_void.h
  src/core/column/column_impl.cc
  src/core/column/column_impl.h
  src/core/column/const.h
  src/core/column/const_na.cc
  src/core/column/rbound.h
  src/core/column/sentinel.h
  src/core/column/virtual.h
  src/core/column_from_arrow.cc
  src/core/column_from_python.cc
  src/core/datatablemodule.cc
  src/core/datatablemodule.h
  src/core/frame/to_arrow.cc
  src/core/jay/jay.fbs
  src/core/jay/jay_generated.h
  src/core/jay/jay_nowarnings.h
  src/core/jay/open_jay.cc
  src/core/jay/save_jay.cc
  src/core/types/type.cc
  src/core/types/type.h
  src/core/types/type_array.cc
  src/core/types/type_array.h
  src/core/types/typeimpl.cc
  src/core/types/typeimpl.h
  tests/__init__.py
  tests/test-jay.py
  tests/types/test-array.py
Labels: new feature

#3151 Include gendoc file into the source distribution
  ci/ext.py
Labels: ITA
