Repository h2oai/datatable, pull requests merged in 2021-06, with the labels that each got.

#2709 fread should not detect sep within quoted fields
  docs/releases/v1.0.0.rst
  src/core/csv/reader_fread.cc
  tests/fread/test-fread-issues.py
  tests/fread/test-fread-small.py
Labels: fread

#2990 Expand documentation for various types, add examples
  docs/_ext/xcode.py
  docs/_static/wren.css
  docs/_static/xcode.css
  docs/api/type.rst
  docs/api/type/bool8.rst
  docs/api/type/date32.rst
  docs/api/type/int32.rst
  docs/api/type/str32.rst
  docs/api/type/time64.rst
  docs/api/type/void.rst
  src/core/types/py_type.cc
Labels: documentation

#2992 Update install documentation
  docs/start/install.rst
Labels: ITA, documentation

#2993 Visually separate Type variables from properties/methods in docs
  docs/api/type.rst
Labels: documentation

#2997 Add documentation for .countna(), .max(), .min(), .mean(), .mode(), .nmodal() and .nunique() frame methods
  docs/api/frame.rst
  docs/api/frame/countna.rst
  docs/api/frame/countna1.rst
  docs/api/frame/max.rst
  docs/api/frame/max1.rst
  docs/api/frame/mean.rst
  docs/api/frame/mean1.rst
  docs/api/frame/min.rst
  docs/api/frame/min1.rst
  docs/api/frame/mode.rst
  docs/api/frame/mode1.rst
  docs/api/frame/nmodal.rst
  docs/api/frame/nmodal1.rst
  docs/api/frame/nunique.rst
  docs/api/frame/nunique1.rst
  src/core/frame/stats.cc
Labels: documentation

#3002 New mechanism for writing documentation
  .gitignore
  ci/ext.py
  ci/gendoc.py
  ci/xbuild/extension.py
  ci/xbuild/logger.py
  docs/_ext/xfunction.py
  docs/api/frame/head.rst
  docs/api/frame/tail.rst
  docs/develop/create-fexpr.rst
  src/core/documentation.h
  src/core/frame/py_frame.cc
  tests/test-docs.py
Labels: documentation, refactor

#3001 Add documentation for .sd() and .sum() frame's methods
  docs/api/frame.rst
  docs/api/frame/sd.rst
  docs/api/frame/sd1.rst
  docs/api/frame/sum.rst
  docs/api/frame/sum1.rst
  src/core/frame/stats.cc
Labels: documentation

#3000 Renamed "types" arguments in Frame constructor
  docs/_ext/xfunction.py
  docs/_static/xversion.css
  docs/releases/v1.0.0.rst
  src/core/column.h
  src/core/column/range.cc
  src/core/column/range.h
  src/core/column_from_python.cc
  src/core/expr/fexpr_literal_range.cc
  src/core/frame/__init__.cc
  src/core/frame/__sizeof__.cc
  src/core/frame/integrity_check.cc
  src/core/frame/py_frame.cc
  src/core/frame/py_frame.h
  src/core/python/arg.cc
  src/core/python/obj.cc
  src/core/python/obj.h
  src/core/rowindex.cc
  src/core/rowindex_slice.cc
  src/core/types/type.cc
  tests/frame/test-create.py
Labels: API change

#3009 Fix several compile warnings
  src/core/column/cast_string.cc
  src/core/expr/eval_context.h
  src/core/progress/progress_bar.h
  src/core/python/xargs.h
Labels: refactor

#3012 Expanded dt.build_info
  ci/ext.py
  docs/api/dt/build_info.rst
  docs/api/internal.rst
  docs/api/internal/compiler_version.rst
  docs/api/internal/in_debug_mode.rst
  docs/api/internal/regex_supported.rst
  docs/releases/v1.0.0.rst
  src/core/datatablemodule.cc
  src/core/expr/head_func_other.cc
  src/core/utils/macros.h
  src/datatable/internal.py
  tests/munging/test-str.py
  tests/test-dt.py
Labels: API change

#3013 Fix `sd()`, `sum()` and `mean()` Frame methods when called on date and time columns
  src/core/frame/to_numpy.cc
  src/core/stats.cc
  src/core/stats.h
  src/core/types/type.cc
  src/core/types/type.h
  src/core/types/type_date.cc
  src/core/types/type_date.h
  src/core/types/type_time.cc
  src/core/types/type_time.h
  src/core/types/typeimpl.cc
  src/core/types/typeimpl.h
  tests/expr/test-qcut.py
  tests/models/test-ftrl.py
  tests/models/test-linearmodel.py
  tests/test-reduce.py
  tests/types/test-date32.py
  tests/types/test-time64.py
  tests/types/test-type.py
Labels: bug, test

#3011 Force-create a column into date32 and time64 types
  src/core/column/cast_to_date32.cc
  src/core/column/cast_to_time64.cc
  src/core/column_from_python.cc
  src/core/python/obj.cc
  src/core/python/obj.h
  tests/types/test-date32.py
  tests/types/test-time64.py
Labels: improve

#2723 Restore skewness and kurtosis functionality, add relevant tests
  docs/api/frame.rst
  docs/api/frame/kurt.rst
  docs/api/frame/kurt1.rst
  docs/api/frame/skew.rst
  docs/api/frame/skew1.rst
  docs/releases/v1.0.0.rst
  src/core/documentation.h
  src/core/frame/stats.cc
  src/core/stats.cc
  tests/test-dt-stats.py
Labels: improve, test

#3014 Add missing tests for statistical frame methods for date and time columns
  tests/types/test-date32.py
  tests/types/test-time64.py
Labels: test

#3015 String slicing
  docs/api/fexpr.rst
  docs/api/fexpr/__getitem__.rst
  docs/api/index-api.rst
  docs/api/str.rst
  docs/api/str/slice.rst
  docs/releases/v1.0.0.rst
  src/core/column/string_slice.cc
  src/core/column/string_slice.h
  src/core/documentation.h
  src/core/expr/fexpr.cc
  src/core/expr/fexpr.h
  src/core/expr/fexpr_slice.cc
  src/core/expr/fexpr_slice.h
  src/core/python/slice.cc
  src/core/python/slice.h
  src/core/python/xargs.cc
  src/datatable/str.py
  tests/expr/str/test-slice.py
Labels: new feature

#3019 Move re_match() method into re. submodule
  docs/api/fexpr/re_match.rst
  docs/api/index-api.rst
  docs/api/re.rst
  docs/api/re/match.rst
  docs/releases/v1.0.0.rst
  src/core/column/re_match.cc
  src/core/column/re_match.h
  src/core/documentation.h
  src/core/expr/fexpr.cc
  src/core/expr/head_func.cc
  src/core/expr/head_func_other.cc
  src/core/expr/op.h
  src/core/expr/re/fexpr_match.cc
  src/core/expr/re/fexpr_match.h
  src/datatable/__init__.py
  src/datatable/expr/expr.py
  src/datatable/re.py
  tests/expr/re/test-match.py
  tests/munging/test-str.py
Labels: API change

#3021 Remove function dt.open()
  docs/releases/v1.0.0.rst
  src/datatable/__init__.py
  tests/test-import-all.py
  tests/test-jay.py
Labels: API change

#3022 Support temporal features in FTRL
  docs/manual/ftrl.rst
  docs/releases/v1.0.0.rst
  src/core/models/dt_ftrl.cc
  src/core/models/label_encode.cc
  src/core/models/py_ftrl.cc
  tests/models/test-ftrl.py
Labels: documentation, improve, test

#3033 Add a deprecation warning and adjust docs for `dt.split_into_nhot()`
  ci/headers.py
  docs/api/dt/split_into_nhot.rst
  docs/api/index-api.rst
  docs/api/str.rst
  docs/api/str/split_into_nhot.rst
  src/core/column/string_slice.cc
  src/core/datatablemodule.cc
  src/core/datatablemodule.h
  src/core/documentation.h
  src/core/models/dt_ftrl.h
  src/core/models/dt_ftrl_base.h
  src/core/models/py_ftrl.cc
  src/core/models/py_ftrl.h
  src/core/models/py_linearmodel.cc
  src/core/models/py_linearmodel.h
  src/core/str/py_str.cc
  src/core/str/py_str.h
  src/core/str/split_into_nhot.cc
  src/datatable/__init__.py
  src/datatable/str.py
  tests/munging/test-str.py
  tests/test-docs.py
Labels: documentation, refactor, test

#3035 Move some test files
  docs/api/dt/cut.rst
  docs/api/dt/ifelse.rst
  docs/api/dt/qcut.rst
  docs/api/dt/shift.rst
  docs/api/frame/to_csv.rst
  docs/api/math/isna.rst
  docs/api/math/round.rst
  docs/api/re/match.rst
  docs/api/str/len.rst
  docs/api/str/slice.rst
  docs/api/time/day.rst
  docs/api/time/day_of_week.rst
  docs/api/time/hour.rst
  docs/api/time/minute.rst
  docs/api/time/month.rst
  docs/api/time/nanosecond.rst
  docs/api/time/second.rst
  docs/api/time/year.rst
  docs/api/time/ymd.rst
  docs/api/time/ymdt.rst
  tests/dt/README.md
  tests/dt/test-cut.py
  tests/dt/test-ifelse.py
  tests/dt/test-qcut.py
  tests/dt/test-shift.py
  tests/frame/test-tocsv.py
  tests/math/test-isna.py
  tests/math/test-round.py
  tests/re/test-match.py
  tests/str/test-len.py
  tests/str/test-slice.py
  tests/time/test-day-of-week.py
  tests/time/test-hour-min-sec.py
  tests/time/test-year-month-day.py
  tests/time/test-ymd.py
  tests/time/test-ymdt.py
Labels: refactor, test

#3040 Minor documentation and tests changes related to deprecation
  docs/api/frame/ltypes.rst
  docs/api/frame/stype.rst
  docs/api/frame/stypes.rst
  docs/api/ltype.rst
  docs/api/stype.rst
  src/core/expr/fexpr.h
  src/datatable/types.py
  tests/munging/test-str.py
Labels: documentation, test
