Repository h2oai/datatable, pull requests merged in 2022-06, with the labels that each got.

#3291 Fix documentation builds
  docs/conf.py
Labels: documentation, ITA

#3290 Add support for void columns for all the row-functions
  docs/_ext/xfunction.py
  docs/releases/v1.1.0.rst
  src/core/expr/fnary/fnary.cc
  src/core/expr/fnary/fnary.h
  src/core/expr/fnary/rowall.cc
  src/core/expr/fnary/rowany.cc
  src/core/expr/fnary/rowcount.cc
  src/core/expr/fnary/rowfirstlast.cc
  src/core/expr/fnary/rowmean.cc
  src/core/expr/fnary/rowminmax.cc
  src/core/expr/fnary/rowsd.cc
  src/core/expr/fnary/rowsum.cc
  tests/ijby/test-rowwise.py
Labels: improve

#3294 Add support for `void` columns to statistical reducers
  docs/api/index-api.rst
  docs/releases/v1.1.0.rst
  src/core/expr/head_reduce_nullary.cc
  src/core/expr/head_reduce_unary.cc
  tests/test-reduce.py
Labels: improve

#3297 Minor refactoring and a test for `qcut()`
  src/core/column/qcut.h
  src/core/expr/fexpr_qcut.cc
  tests/dt/test-qcut.py
Labels: test, refactor

#3298 Minor refactoring and a test for voids in `cumsum()`
  src/core/expr/fexpr_cumsum.cc
  tests/dt/test-cumsum.py
Labels: test, refactor

#3288 [ENH] Add `cummin()` and `cummax()` functions for cumulative min/max calculation
  docs/api/dt/cummax.rst
  docs/api/dt/cummin.rst
  docs/api/dt/cumsum.rst
  docs/api/fexpr.rst
  docs/api/fexpr/cummax.rst
  docs/api/fexpr/cummin.rst
  docs/api/index-api.rst
  docs/releases/v1.1.0.rst
  src/core/column/cumminmax.h
  src/core/documentation.h
  src/core/expr/fexpr.cc
  src/core/expr/fexpr.h
  src/core/expr/fexpr_cumminmax.cc
  src/datatable/__init__.py
  tests/dt/test-cumminmax.py
  tests/dt/test-cumsum.py
  tests/dt/test-qcut.py
  tests/test-f.py
Labels: test, documentation, new feature
